body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
  place-items: center;
  padding-top: 100px;
}

button {
  width: 180px;
}

select {
  width: 150px;
}

button, select, div {
  margin-bottom: 20px;
}

.child {
  margin-top: 50px;
}